body{
    width:100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin: 1vh 1vw;
    width:90vw;
    height: 100vh;
    background-color: white;

}

.header{
    display: flex;
    flex-direction: column;
    gap: 3vh;

}
/* Testing */

.navbar {
    list-style-type: none;
    margin-top: 3vh;
    padding:1vh 1vw;
    background-color: #03045E;
    display: flex; /* Use flexbox */
    justify-content: space-around; 
    align-items: center;/* Align navbar items to the right */
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown:hover .dropdown-menu {
    display: flex; /*
     Use flexbox */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    flex-direction: column; /* Arrange dropdown items in a column */
  }
  
  .dropdown-menu li {
    display: flex; /* Use flexbox */
  }
  
  .dropdown-menu li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    flex: 1; /* Distribute available space equally among items */
  }
  
  .dropdown-menu li a:hover {
    background-color: #ddd;
  }
  .search{
    background-color: white;
    height: 3vh;
    width: 25vw;
    border: none;
    outline: none;
    border-radius: 1vw;
    color: black;

}

.profile{
    display: flex;
    width: 40vw;
    height: 50vh;
    gap: 1vh;
}
.userName{
    color: #03045E;
    font-size: 20px;
    padding: 1vh 0vw;
    

}
.profilePic{
    margin-top: 1vh;
    width: 100px;
    height: 100px;
    border-radius:  50%;
    object-fit: fit;
    padding: 1vh 1vw;

}
.details{
    color: grey;
    display: flex;
    flex-direction: column;
    gap:5px;

}

.post-section{
    display: flex;
    gap:1vh;
    /* border: 3px solid  black; */
    width: 90vw;
    height: 45vh;
    justify-content: center;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.postContainer{
    width: 90VW ;
    /* border: 2px solid yellow; */
    display: flex;
    gap: 1vw;
    margin-bottom: 1vh;

}

.postTitle{
    font-weight: lighter;
    font-size: 20px;
    padding: 1vh 1vw;
    text-decoration: underline;
    width: 60vw;


}
.postBody{
    font-weight: bold;
    font-size: 12px;
    padding: 1vh 1vw;
    width: 60vw;
}

.postImg{
    /* border: 2px solid red; */
    width:100px;
    height:100px;
    border-radius: 10px;
    object-fit: fit;
    border: 1px solid rgb(3, 4, 94 );
}

.postDetails{
    /* border: 2px solid red; */
    width:70vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: start;
    padding: 3vh 3vw;
    background-color: rgb(3, 4, 94,0.3);

}
.actions{
    /* border: 2px solid blue; */
    width:60vw;
    display: flex;
    gap:1vh;
    justify-content: space-between;
    align-items: center;
}
button{
    margin-top: 2vh;
    width:40vw;
    height:5vh;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #03045E;
    color: white;
    cursor: pointer;

}
.like{
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.likeImg{
    width: 10px;
    height: 10px;
    object-fit: fit;
}

.commentImg{
    width: 10px;
    height: 10px;
    object-fit: fit;
}
.commentAction{
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.viewImg{
    width: 10px;
    height: 10px;
    object-fit: fit;
    
}
.view{
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.actions{
    /* border: 2px solid blue; */
    width:40vw;
    display: flex;
    gap: 1vh;
    justify-content: space-between;
    align-items: center;
}
/* Styling the modal that will house the comments */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    width: 50vw;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1vh;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

.comments{
    width: 60vw;
    height: auto;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: flex-start;
    align-items: center;
    padding: 1vh 1vw;

}
.comment{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    border: 1px solid rgb(3, 4, 94 , 0.5);
    padding: 1vh 1vw;
    border-radius: 10px;
    background-color: rgb(3, 4, 94 , 0.5);
    color: white;
    width: 40vw;
    margin: 0;

}
.commentName{
    font-weight: normal;
    text-decoration: underline;
    color:Black;
    font-size: 20px;
}
.commentBody{
    font-weight: lighter;
    font-size: 13px;
}

